.about {
  min-height: 110vh;

  padding: 120px 100px 80px;

  background-image: url(../../images/about.png);
  background-position: 100% top;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about__content {
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about__content p {
  font-size: 23px;
}

.about__btns {
  z-index: 9999;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.about__btns button {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px 40px;
  border-radius: 15px;
  background-image: radial-gradient(at center center, #1832ca 0%, #000000 100%);
}

.about__socials {
  z-index: 9999;
  display: flex;
  gap: 15px;
}

.about__socials a {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #162e7b;
}

.about__socials a svg {
  width: 50%;
  height: 50%;
}
