.about {
  min-height: 110vh;

  padding: 120px var(--side-space) 80px;

  background-image: url(../../images/about.png);
  background-position: 100% top;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about__content {
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about__content p {
  font-size: 23px;
}

.about__btns {
  z-index: 9999;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.about__btns button {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px 40px;
  border-radius: 15px;
  background-image: radial-gradient(at center center, #1832ca 0%, #000000 100%);
}

@media screen and (max-width: 900px) {
  .about {
    min-height: 70vh;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .about__header h1 {
    margin-bottom: 0px;
  }

  .about__content p {
    font-size: 20px;
  }
}
