.gameFeatures {
  min-height: 110vh;

  padding: var(--section-padding);

  background-image: url(../../images/gameFeatures.png);
  background-position: center top;
  background-size: initial 100%;
  background-repeat: no-repeat;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.gameFeatures__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.gameFeatures__img img {
  object-fit: cover;
  width: 100%;
  /* transform: scale(1.5); */
}

@media screen and (max-width: 900px) {
  .gameFeatures {
    min-height: 70vh;
    background-size: 100% 100%;
  }

  .gameFeatures__content {
    gap: 22px;
  }

  .gameFeatures__content h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 550px) {
  .gameFeatures {
    background-size: cover;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .gameFeatures__content {
    gap: 16px;
  }

  .gameFeatures__content h2 {
    font-size: 30px;
  }
}
