.ownLands {
  min-height: 130vh;

  padding: 135px var(--side-space) 80px;

  background-image: url(../../images/ownLands.png);
  background-position: 100% top;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  text-align: center;
  position: relative;
}

.ownLands::before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0.4) 100%
  );
}

.ownLands__content {
  width: 70%;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media screen and (max-width: 900px) {
  .ownLands {
    min-height: 70vh;
    padding-bottom: 40px;
  }

  .ownLands__content {
    width: 65%;
    gap: 22px;
  }
}
