.ownLands {
  min-height: 130vh;

  padding: 135px 100px 80px;

  background-image: url(../../images/ownLands.png);
  background-position: 100% top;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  text-align: center;
}

.ownLands__content {
  width: 70%;

  display: flex;
  flex-direction: column;
  gap: 32px;
}
