.playToEarn {
  min-height: 140vh;

  padding: 120px var(--side-space) 80px;

  background-image: url(../../images/playToEarn.png);
  background-position: 100% top;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.playToEarn__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.playToEarn__img img {
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .playToEarn {
    min-height: 70vh;
    padding-top: 60px;
    padding-bottom: 40px;
  }
}
