.slider {
  height: 500px;

  padding: 10px var(--side-space);

  background-color: var(--text-color);
  color: var(--bg-color);
}

@media screen and (max-width: 550px) {
  .slider {
    height: 150px;
  }
}
