.underworld {
  min-height: 110vh;

  padding: 120px var(--side-space) 80px;

  background-image: url(../../images/underworld.png);
  background-position: 100% top;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
}

.underworld__demon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 80px;
  width: 100% !important;
  height: 100% !important;
  position: relative;
}

.underworld__demonImg {
  width: 80%;
  position: absolute;
  bottom: 100px;
}

.underworld__demonFire {
  width: 50%;
  position: absolute;
  bottom: 0;
}

.underworld__content {
  text-align: right;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media screen and (max-width: 900px) {
  .underworld {
    min-height: 70vh;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .underworld__demon {
    height: fit-content !important;
    top: 30%;
  }

  .underworld__demonImg {
    width: 100%;
  }

  .underworld__demonFire {
    width: 70%;
  }

  .underworld__content {
    gap: 22px;
  }
}
