.tokenomicsHero {
  min-height: 110vh;

  padding: 150px var(--side-space) 80px;

  background-image: url(../../images/gameFeatures.png);
  background-position: center top;
  background-size: initial 100%;

  text-align: center;
}

.tokenomicsHero__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: left;
  font-weight: 600;
}

@media screen and (max-width: 900px) {
  .tokenomicsHero {
    min-height: 70vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .tokenomicsHero__content {
    gap: 22px;
    font-weight: 500;
  }
}

@media screen and (max-width: 550px) {
  .tokenomicsHero {
    padding-top: 100px;
  }

  .tokenomicsHero__content {
    gap: 16px;
  }

  .tokenomicsHero__content p {
    font-size: 14px;
    word-break: break-all;
  }
}
