.tokenomicsProgress {
  min-height: 110vh;

  padding: 150px var(--side-space) 80px;

  background-image: url(../../images/gameFeatures.png);
  background-position: center top;
  background-size: initial 100%;

  text-align: center;
}

@media screen and (max-width: 900px) {
  .tokenomicsProgress {
    min-height: 70vh;
    padding-top: 60px;
    padding-bottom: 40px;
    background-size: 100% 100%;
  }
}
