.storylineCards {
  min-height: 110vh;

  padding: 150px var(--side-space) 80px;

  background-image: url(../../images/gameFeatures.png);
  background-position: center top;
  background-size: initial 100%;

  text-align: center;
}

.storylineCards__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 20px;
  row-gap: 40px;
}

@media screen and (max-width: 550px) {
  .storylineCards {
    padding-top: 100px;
  }
}
