.storylineCardItem {
  padding: 10px;
  padding-top: 120px;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px 0 0 1px;
  border-color: #ffffff4d;
  box-shadow: 20px 20px 50px 5px rgb(0 0 0 / 50%);
  transition: background-color 0.3s, border 0.3s, border-radius 0.3s,
    box-shadow 0.3s;
  background-color: #ffffff45;
  position: relative;
}

.storylineCardItem__num {
  color: #ffffff5c;
  font-family: "Montserrat", Sans-serif;
  font-size: 160px;
  font-weight: 900;
  position: absolute;
  top: -30px;
  right: 10px;
  user-select: none;
  pointer-events: none;
}

.storylineCardItem__title {
  margin-bottom: 16px;
}

.storylineCardItem__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width: 550px) {
  .storylineCardItem {
    padding-top: 90px;
  }

  .storylineCardItem__num {
    font-size: 120px;
    top: -20px;
  }
}
