.storylineDemo {
  min-height: 80vh;

  padding: 10px var(--side-space);

  background-image: url(../../images/gameFeatures.png);
  background-position: center top;
  background-size: initial 100%;
  background-repeat: no-repeat;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.storylineDemo img {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .storylineDemo {
    min-height: 40vh;
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 550px) {
  .storylineDemo {
    background-size: cover;
    grid-template-columns: 1fr;
  }
}
