.app {
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
  background-color: var(--bg-color);
  overflow-x: hidden;
}

main {
  flex: 1;
}
