:root {
  --bg-color: #2d3748;
  --text-color: #ffffff;
  --text-hover-color: #5e75ff;
  --text-faq: #162e7b;

  --side-space: 100px;
  --section-padding: 120px var(--side-space) 80px;
}

@font-face {
  font-family: "Moon House";
  src: url(./fonts/moonhouse/moonhouse.ttf);
}

@font-face {
  font-family: "Time Burner";
  src: url(./fonts/timeburner/timeburnernormal.ttf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Time Burner", sans-serif;
  /* scroll-behavior: smooth; */
  color: var(--text-color);
  z-index: 1;
}

body {
  font-family: "Time Burner", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  background-color: var(--bg-color);
  font-size: 16px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h5 {
  font-family: "Moon House", sans-serif;
}

h1 {
  font-size: 75px;
  margin-bottom: 37.5px;
}

h2 {
  font-weight: 600;
  font-size: 58px;
}

h3 {
  font-weight: 600;
  font-size: 30px;
}

h4 {
  font-size: 28px;
  font-weight: 600;
}

h5 {
  font-weight: 600;
  font-size: 24px;
}

p,
li {
  font-size: 18px;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

button,
.button {
  font-size: 18px;
  outline: none;
  border: 0px;
  cursor: pointer;

  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px 40px;
  border-radius: 15px;
  font-weight: 500;
  transition: transform 0.4s ease-in-out;
  background-image: radial-gradient(at center center, #1832ca 0%, #000000 100%);
}

button:hover,
.button:hover {
  color: #000000 !important;
  transform: translateY(-8px);
  box-shadow: 0px 15px 25px -7px rgba(0, 0, 0, 10%);
}

button:hover svg *,
.button:hover svg * {
  color: #000000 !important;
}

img {
  user-select: none;
}

.overlay {
  position: relative;
}

.overlay > * {
  position: relative;
  z-index: 9999;
}

.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  background-color: transparent;
  background-image: linear-gradient(180deg, #ffffff00 0%, #1832ca 100%);
  opacity: 0.4;
  transition: background-image 0.3s, border-radius 0.3s, opacity 0.3s;
}

@media screen and (max-width: 900px) {
  :root {
    --side-space: 30px;
    --section-padding: 60px var(--side-space) 40px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 24px;
  }
}

@media screen and (max-width: 550px) {
  :root {
    --side-space: 15px;
    --section-padding: 40px var(--side-space) 20px;
  }

  h1 {
    font-size: 33px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 17px;
  }

  h5 {
    font-size: 16px;
  }

  p,
  li,
  button,
  .button,
  a {
    font-size: 16px;
  }
}
