footer {
  padding: 60px var(--side-space);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;

  background-color: transparent;
  background-image: linear-gradient(170deg, #000000 0%, #1832ca 100%);
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.footer__logo img {
  max-width: 100%;
}

.footer__navs {
  width: 100%;
}

.footer__navs ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.footer__navs ul li a {
  font-family: "Moon House", sans-serif;
}

.footer__left img,
.footer__right img {
  max-width: 100%;
  /* transform: scale(1.3); */
}

@media screen and (max-width: 900px) {
  footer {
    gap: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer__navs ul {
    gap: 10px;
  }
}

@media screen and (max-width: 550px) {
  footer,
  .footer__navs ul {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer__left,
  .footer__right {
    display: none;
  }
}
