footer {
  padding: 60px 100px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  background-color: transparent;
  background-image: linear-gradient(170deg, #000000 0%, #1832ca 100%);
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.footer__logo img {
  width: 100%;
}

.footer__navs {
  width: 100%;
}

.footer__navs ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.footer__navs ul li a {
  font-family: "Moon House", sans-serif;
}

.footer__left img,
.footer__right img {
  width: 100%;
  transform: scale(1.3);
}
