.socialLinks {
  z-index: 9999;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.socialLinks a {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #162e7b;
  transition: transform 0.2s ease-in-out;
}

.socialLinks a svg {
  width: 50%;
  height: 50%;
}

.socialLinks a:hover {
  transform: translateY(-8px);
  box-shadow: 0px 15px 25px -7px rgba(0, 0, 0, 10%);
}

.socialLinks a:hover svg * {
  color: #e6e8f4;
}

.socialLinks.small a {
  width: 34px;
  height: 34px;
}

@media screen and (max-width: 900px) {
  .socialLinks a {
    width: 45px;
    height: 45px;
  }

  .socialLinks.small a {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 550px) {
  .socialLinks {
    width: 90%;
  }

  .socialLinks.small {
    width: 100%;
  }
}
