.buyAgonyUtility {
  padding: 20px var(--side-space);

  background-color: #1a202c;
}

.buyAgonyUtility * {
  font-family: "Time Burner", sans-serif;
}

.buyAgonyUtility__header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 20px;
}

.buyAgonyUtility__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-content: center;
  gap: 20px;
  row-gap: 40px;
}

.buyAgonyUtility__item {
  grid-column: span 2;
  display: flex;
  align-items: center;
  gap: 20px;
}

.buyAgonyUtility__item:nth-last-child(1):nth-child(odd) {
  grid-column: 2 / span 2;
}

.buyAgonyUtility__itemImg img {
  max-width: 125px;
}

.buyAgonyUtility__item h5 {
  font-weight: 400;
}

@media screen and (max-width: 900px) {
  .buyAgonyUtility__list {
    grid-template-columns: 1fr;
  }

  .buyAgonyUtility__item {
    grid-column: initial !important;
  }

  .buyAgonyUtility__item:nth-child(even) {
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 550px) {
  .buyAgonyUtility__header {
    display: block;
    text-align: center;
  }

  .buyAgonyUtility__item {
    display: flex;
    flex-direction: column !important;
    text-align: center;
  }
}
