.buyAgonyHero {
  min-height: 110vh;

  padding: 150px var(--side-space) 80px;

  background-color: transparent;
  background-image: linear-gradient(180deg, #1832ca 0%, #1a202c 100%);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 20px;
}

.buyAgonyHero * {
  font-family: "Time Burner", sans-serif;
}

.buyAgonyHero__btns {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.buyAgonyHero__img img {
  display: block;
  max-width: 60%;
  margin: auto;
}

@media screen and (max-width: 900px) {
  .buyAgonyHero {
    min-height: 70vh;
  }

  .buyAgonyHero__img img {
    max-width: 100%;
  }

  .buyAgonyHero__btns {
    gap: 20px;
    width: max-content;
  }
}

@media screen and (max-width: 550px) {
  .buyAgonyHero {
    padding-top: 200px;
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: center;
  }

  .buyAgonyHero__img img {
    max-width: 70%;
  }

  .buyAgonyHero__btns {
    width: auto;
    justify-content: center;
  }
}
